@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #081e38;
}

html, body {
  min-height: 100vh;
}

h1 {
  color: white;
}

.nav-link:hover {
  color: #0d3149; /* This color is approximately equal to bg-blue-500 in TailwindCSS */
}

.nav-button:hover {
  background-color: #01090e; /* This color is approximately equal to bg-blue-500 in TailwindCSS */
}

.content-card {
  background-color: #34495e; /* A shade lighter than the body */
  border-radius: 10px;
  padding: 20px;
}
