@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #242424;
}

html, body {
  min-height: 100vh;
}

h1 {
  color: white;
}

.nav-link:hover {
  color: #737678;
}

.nav-button:hover {
  background-color: #01090e;
}

.content-card {
  background-color: #34495e;
  border-radius: 10px;
  padding: 20px;
}

.mouseHover:hover{
  cursor: pointer;
}

/* Main datepicker background */
.react-datepicker {
  background-color: #2a2a2a !important;
}

/* Text color for days of the week, month and year */
.react-datepicker__header,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #eaeaea !important;
}

/* Active/hovered date background color */
.react-datepicker__day--selected,
.react-datepicker__day:hover {
  background-color: #444 !important;
  color: #eaeaea !important;
}

.react-datepicker__weekday {
  color: #eaeaea !important;
}

/* Header background color */
.react-datepicker__header {
  background-color: #2a2a2a !important;
}

/* Color for the arrows for navigating between months */
.react-datepicker__navigation {
  color: #eaeaea !important;
}

/* Input field styles */
.datepicker-input {
  background-color: #2a2a2a !important;
  color: #eaeaea !important;
}

.icon-wrapper {
  @apply relative inline-flex items-center;
}

.icon-absolute {
  @apply absolute inset-y-0 left-0 flex items-center pl-3 z-10 pointer-events-none;
}

.input-base {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500;
  @apply dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.input-with-icon {
  @apply pl-10; /* Additional padding to accommodate the icon */
}

.button-base {
  @apply inline-flex items-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5 focus:ring-blue-500 focus:border-blue-500;
  @apply dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.icon-color {
  @apply text-gray-500 dark:text-gray-400;
}


